{% load static %}
{% load my_tags %}

<style type="text/css">
  .card {
    max-width: 700px;
    width: 100%;
  }

  .card-body {
    padding: 20px;
  }

  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

  .days-to-go {
    animation: blinker 2s linear infinite;
    margin-top: 0
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
</style>

<link rel="stylesheet" href="{% static 'css/event.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% if event_post %}
<div class="blog-card">
  <div class="meta">
    <div class="photo" style="background-image: url({{event_post.image.url}})"></div>
    <ul class="details">
      {% if event_post.premium_aproved == True %}
      <li class="premium"><a href="{% url 'premium-events' %}">Premium</a></li>
      {% endif %}
      <li class="author"><a href="{% url 'event:author-view' event_post.author.id %}">{{event_post.author.username}}</a>
      </li>
      <li class="date">Event date: {{event_post.event_date}}</li>
      <li class="tags">
        <ul>
          <li><b>{{event_post.category}}</b></li>
        </ul>
      </li>
      <li class='rupee'>{{event_post.fee}}</li>
      <li class='place'>{{event_post.author.organization_place}}</li>
    </ul>
  </div>
  <div class="description">
    <h1>{{ event_post.title }}</h1>
    <h2 style="font-size:15px;">Last date of Registration
      <span class="days-to-go" style="display:inline;font-size:15px;color:#5ad67d;font-weight:500;"> -
        {{event_post.event_date|days_until}} Days to
        Go</span>
    </h2>
    <hr>
    <pre>{{event_post.body|safe|truncatechars:180}}</pre>
    <p class="read-more">
      <a href="{% url 'event:detail' post.slug %}">Read More</a>
    </p>
  </div>
</div>
{% else %}

<div class="container">
  <div class="row">
    <div class="card m-auto">
      <div class="card-body mt-2 mb-2">
        <h2 class="card-title">No results</h2>
        <p class="card-text">There were no Events Found</p>
      </div>
    </div>
  </div>
</div>

{% endif %}