{% load static %}

<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
    .card {
        max-width: 700px;
        width: 100%;
    }

    .card-body {
        padding: 20px;
    }

    pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
</style>
{% if blog_post %}
<div class="blog-card alt">
    <div class="meta">
        {% if blog_post.image %}
        <div class="photo" style="background-image: url({{blog_post.image.url}})"></div>
        {% endif %}
        <ul class="details">
            <li class="author"><a
                    href="{% url 'event:author-view' blog_post.author.id %}">{{blog_post.author.username}}</a></li>
            <li class="date far fa-calendar">{{blog_post.date_published}}</li>
            <li class="tags">
                <ul>
                    <li>{{ blog_post.category }}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="description">
        <h1>{{blog_post.title}}</h1>
        <p></p>
        <!--<p class="text-muted">last updated {{blog_post.date_updated}}</p>-->
        <hr>
        <pre>{{blog_post.body|safe|truncatechars:180}}</pre>
        <p class="read-more">
            <a href="{% url 'blog:detail' post.slug %}">Read More</a>
        </p>
    </div>
</div>
{% else %}

<div class="container">
    <div class="row">
        <div class="card m-auto">
            <div class="card-body mt-2 mb-2">
                <h2 class="card-title">No results</h2>
                <p class="card-text">No blogs were found</p>
            </div>
        </div>
    </div>
</div>

{% endif %}