<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>{% block title %}Event Adda{% endblock title %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}{% endblock head %}
</head>

<body>
    {% include 'snippets/header2.html' %}
    {% include 'snippets/base_css.html' %}
    <!-- Body -->
    <style type="text/css">
        .main {
            min-height: 100vh;
            height: 100%;
            margin-top: 80px;
        }

        .al {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            min-width: min-content;
        }
    </style>
    <div class="main">
        <div class="al">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>

        {% block content %}
        {% endblock content %}
    </div>
    <!-- End Body -->
    {% include 'snippets/footer.html' %}
</body>

</html>