{% extends 'base.html' %}

{% block title %}Event Add- New Blog{% endblock title %}

{% block content %}

<style type="text/css">
	.create-form {
		width: 100%;
		max-width: 100%;
		padding: 15px;
		margin: auto;
	}

	.submit-button {
		max-width: 200px;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
			<form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}
				{% include 'event/snippets/form_errors_snippet.html' %}

				<!-- Title -->
				<div>
					<label for="id_title">Title</label>
					<p>{{form.title}}</p>
				</div>

				<!-- Category -->
				<div>
					<label for="id_category">Category</label>
					<p>{{form.category}}</p>
				</div>

				<!-- Content -->
				<div>
					<label for="id_body">Content</label>
					<p>{{form.body}}</p>
				</div>

				<!-- related_event -->
				<div class="form-group">
					<label for="id_related_event">Is It Related to Events You Posted...</label>
					<select class="form-control" id="id_related_event" name="related_event">
						<option value="">---------</option>
						{% for post in event_posts %}
						<option value="{{post.id}}">{{post.title}}</option>
						{% endfor %}
					</select>
				</div>

				<!-- Image -->
				<div class="form-group">
					<label for="id_image">Image</label>
					<input type="file" name="image" id="id_image" accept="image/*">
				</div>

				<!--Submit btn -->
				<button class="submit-button btn btn-lg btn-primary" type="submit">POST</button>
				<a href="{% url 'home' %}" type="button" class="btn btn-lg btn-danger">CANCEL</a>
			</form>
		</div>
	</div>
</div>

{% endblock content %}