<style type="text/css">
	.card{
		min-width: 320px;
		max-width: 320px;
		width: 100%;
	}
	.card-body{
		padding: 20px;
	}
	.xop-info {
		position: absolute;
		width: inherit;
		height: inherit;
	}

	.xop-info h3 {
		font-family: 'Pacifico', cursive;
		font-weight: 400;
		color: #fff;
		font-size: 42px;
		margin: 0 30px;
		padding: 100px 0 0 0;
		line-height: 1.5;
	}

</style>

{% if committee %}
		<div class="xop-box m-auto" >
        	<a href="{% url 'committee:detail' post.slug %}"><img class="card-img" style="object-fit: contain; background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10));" src="{{committee.image.url}}"></a>
      	</div>
{% else %}

<div class="container">
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h2 class="card-name">No results</h2>
				<p class="card-text">There were no results matching the search: "{{query}}"</p>
			</div>
		</div>
	</div>
</div>

{% endif %}
