{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">



<link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/">

<!-- Bootstrap core CSS 
<link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
-->
<!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Montserrat, sans-serif;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 60px;


    }

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    .container {
        max-width: 1100px;
    }

    .pricing-header {
        max-width: 700px;
    }

    .card-deck .card {
        min-width: 220px;
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .title .name p a {
        font-weight: 600;
        color: white;
        padding-left: 20px;
        font-size: 25px;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    .search-bar {
        display: flex;
        flex-direction: row;
        max-width: 350px;
        width: 100%;
        margin-left: 30px;
    }

    .form-control:focus {
        outline: none;
    }

    .search-bar input {
        border: none;
        border-radius: 25px;
        width: 350px;
        height: 30px;
    }

    .fa-search {
        position: absolute;
        padding-top: 8px;
        padding-left: 20px;
        color: white;
        font-size: 18px;
    }

    .nav-item .name a {
        font-weight: 500;
        color: white;
        padding-left: 20px;
        font-size: 20px;
    }

    .nav-link {
        color: white;
    }

    input {
        padding-left: 10px;
    }


    @keyframes color-change {
        0% {
            color: red;
        }

        20% {
            color: rgb(255, 127, 8);
        }

        40% {
            color: rgb(243, 255, 82);
        }

        60% {
            color: rgb(97, 255, 82);
        }

        80% {
            color: rgb(82, 235, 255);
        }

        100% {
            color: rgb(255, 82, 218);
        }
    }
</style>
<!-- Custom styles for this template 
<link href="starter-template.css" rel="stylesheet">-->

<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="title">
        <div class="logo"><img src="{% static 'icons/megaphone.png' %}"></img></div>
        <div class="name">
            <p style="margin-bottom: 0;">
                <a href="% url 'event-home' %}">EventAdda</a>
            </p>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline my-2 my-lg-0" method=" GET" action=".">
            <div class="search-bar">
                <input class="form-control mr-sm-2" type="text" name="q" id="id_q"
                    placeholder="Search title/content/author name" aria-label="Search">
            </div>
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <div class="name">
                    <a class="nav-link" href="{% url 'event-home' %}">Events<span class="sr-only">(current)</span></a>
                </div>
            </li>
            <li class="nav-item active">
                <div class="name">
                    <a class="nav-link" href="{% url 'home' %}">Blog<span class="sr-only">(current)</span></a>
                </div>
            </li>
            <li class="nav-item active">
                <div class="name">
                    <a class="nav-link" href="{% url 'premium-events' %}"
                        style="animation: color-change 1s infinite;">Premium<span class="sr-only">(current)</span></a>
                </div>
            </li>

            {% if request.user.is_staff %}
            <li class="nav-item dropdown">
                <div class="name">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Actions</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" style="font-weight: 150; color: blue;"
                            href="{% url 'event:create' %}">Post Event</a>
                        <a class="dropdown-item" style="font-weight: 150; color: blue;"
                            href="{% url 'blog:create' %}">Post Blog</a>
                        <a class="dropdown-item" style="font-weight: 150; color: blue;"
                            href="{% url 'event:apply_premium' %}">Apply
                            for Premium</a>
                        {% if user.is_superuser %}
                        <a class="dropdown-item" style="font-weight: 150; color: blue;"
                            href="{% url 'event:approve_premium' %}">Premium approval</a>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endif %}
        </ul>

        <nav class="my-2 my-md-0 mr-md-3">
            {% if request.user.is_authenticated %}
            <a class="p-2 text-white" href="{% url 'account' %}">Your Account</a>
            <a class="btn btn-outline-primary" style="background: white;" href="{% url 'logout' %}">logout</a>
            {% else %}

            <!--<a class="p-2 text-white" href="{% url 'register' %}">Register</a>-->
            <a class="btn btn-outline-primary" style="background: white;" href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </div>
</nav>