{% extends 'base.html' %}

{% block title %}New Event{% endblock title %}

{% block content %}

<style type="text/css">
	.create-form {
		width: 100%;
		max-width: 100%;
		padding: 15px;
		margin: auto;
	}

	.submit-button {
		max-width: 200px;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
			<form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}
				{% include 'event/snippets/form_errors_snippet.html' %}

				<!-- Title -->
				<div>
					<label for="id_title">Title</label>
					<p>{{form.title}}</p>
				</div>

				<!-- Category -->
				<div>
					<label for="id_category">Category</label>
					<p>{{form.category}}</p>
				</div>

				<!-- Content -->
				<div>
					<label for="id_body">Content</label>
					<p>{{form.body}}</p>
				</div>

				<!-- reg_to -->
				<div class="form-check form-check-inline">
					<div class="form-group">
						<label for="id_reg_to">Registration to</label>
						<input class="form-control" type="date" name="reg_to" id="id_reg_to">
					</div>
				</div>

				<!-- event_date -->
				<div class="form-check form-check-inline">
					<div class="form-group">
						<label for="id_event_date">Event Date</label>
						<input class="form-control" type="date" name="event_date" id="id_event_date">
					</div>
				</div>

				<!-- Fee -->
				<div>
					<label for="id_fee">Fee</label>
					<p>{{form.fee}}</p>
				</div>

				<!-- Registration -->
				<div>
					<label for="id_reg_link">Registration link</label>
					<p>{{form.reg_link}}</p>
				</div>

				<!-- premium_applied 
				<div>
					<label for="id_premium_applied">Apply for Premium
						<small style="color:blue;">(Leave Unchecked If you
							dont want to)</small></label>
					<p>{{form.premium_applied}}</p>
				</div>-->

				<!-- Image -->
				<div class="form-group"><br>
					<label for="id_image">Image<span class="text-muted">(size: Less than 1MB)</span></label>
					<input type="file" name="image" id="id_image" accept="image/*">
				</div>


				<!-- Submit btn -->
				<button class="submit-button btn btn-lg btn-primary" type="submit">POST</button>
				<a href="{% url 'event-home' %}" type="button" class="btn btn-lg btn-danger">CANCEL</a>
			</form>
		</div>
	</div>
</div>
<script>
	var today = new Date().toISOString().split('T')[0];
	document.getElementsByName("reg_to")[0].setAttribute('min', today);

	var today = new Date().toISOString().split('T')[0];
	document.getElementsByName("event_date")[0].setAttribute('min', today);
</script>

{% endblock content %}

<!--
<div class="form-group">
	<label for="id_title">Title</label>
	<input class="form-control" type="text" name="title" id="id_title" placeholder="Title" required
		autofocus>
</div>

<div class="form-group">
	<label for="id_body">Content</label>
	<textarea class="form-control" rows="10" type="text" name="body" id="id_body"
		placeholder="This event is about..." required></textarea>
</div>
<div class="form-group">
	<label for="id_category">Category</label>
	<select class="form-control" id="id_category" name="category" placeholder="select">
		{% for category in categorys %}
		<option value="{{category.name}}">{{category.name}}</option>
		{% endfor %}
	</select>
</div>

<div class="form-check form-check-inline">
	<div class="form-group">
		<label for="id_reg_to">Registration to</label>
		<input class="form-control" type="date" name="reg_to" id="id_reg_to">
	</div>
</div>


<div class="form-check form-check-inline">
	<div class="form-group">
		<label for="id_event_date">Event Date</label>
		<input class="form-control" type="date" name="event_date" id="id_event_date">
	</div>
</div>

<div class="form-group">
	<label for="id_fee">Fee</label>
	<input class="form-control" type="number" name="fee" id="id_fee" placeholder="Fee" value=0>
</div>

<div class="form-group">
	<label for="id_reg_link">Registration Link</label>
	<input class="form-control" type="url" name="reg_link" id="id_reg_link" placeholder="Link">
</div>

<div class="form-group">
	<label for="premium_applied">Apply For Premium</label>
	<select class="form-control" type="search" id="premium_applied" name="premium_applied" required>
		<option value="Choose...">Choose...</option>
		<option value="Applied">Apply</option>
		<option value="Not-Now">Not-Now</option>
	</select>
</div>
<div class="form-check form-check-inline"><small><a href="#">Learn about Premium</a></small></div>

<div class="form-group"><br>
	<label for="id_image">Image</label>
	<input type="file" name="image" id="id_image" accept="image/*">

<script>
	var today = new Date().toISOString().split('T')[0];
	document.getElementsByName("reg_to")[0].setAttribute('min', today);

	var today = new Date().toISOString().split('T')[0];
	document.getElementsByName("event_date")[0].setAttribute('min', today);
</script>
</div>-->