{% extends 'base.html' %}

{% block title %}{{event_post.title}}{% endblock title %}

{% block content %}

<style type="text/css">
    .card {
        max-width: 700px;
    }

    .container {
        padding: 20px;
    }

    pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
</style>

<div class="container">
    <div class="row">

        <!--Event Post-->
        <div class="card m-auto">
            <img class="card-img-top" src="{{event_post.image.url}}" alt="{{event_post.image.url}}">
            <div class="card-body my-2">
                <h2 class="card-title">{{event_post.title}}</h2>
                <p class="card-text-bold"><b>Event Date</b> : {{event_post.event_date}}</p>
                <p class="card-text-bold"><b>Reg to</b> : {{event_post.reg_to}}</p>
                {% if event_post.fee == 0  %}
                <p class="card-text-bold"><b>Fee</b> : None</p>
                {% else %}
                <p class="card-text-bold"><b>Fee</b> : {{event_post.fee}}</p>
                {% endif %}
                <p class="card-text-bold"><b>Reg link</b> :<a href="{{event_post.reg_link}} target=" _blank"">
                        {{event_post.reg_link}}</a></p>
                <pre class="card-text-bold">{{event_post.body|safe}}</pre>
                {% if event_post.author == request.user %}
                <a href="{% url 'event:edit' event_post.slug %}" class="btn btn-primary">Edit</a>
                <a class="btn btn-danger btn-md mt-1 mb-1" href="{% url 'event:delete' event_post.id %}">Delete</a>
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                <b>{{event_post.category}}</b> | Updated on {{event_post.date_updated}}
                by
                {{event_post.author.username}}
            </div>
        </div>
        <!--End Event Post-->

    </div>
</div>
{% endblock content %}