{% extends 'base.html' %}
{% load static %}

{% block title %}{{event_post.title}}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/event-detail.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet" />
{% endblock head %}


{% block content %}

<style type="text/css">
    .card {
        max-width: 700px;
    }

    .container {
        padding: 20px;
    }

    pre {
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }

    .text {
        font-size: 35px;
        text-align: center;
        color: #00BFFF;
        animation: blink 1s steps(5, start) infinite;
    }

    .event-detail-card p {
        font-family: Montserrat, sans-serif;
        font-size: 1.3vw;
    }

    .pts p span {
        font-family: Montserrat, sans-serif;
        font-weight: 500;
    }

    @keyframes blink {
        to {
            color: #4169E1;
        }
    }
</style>

<div class="container">
    <div class="row">

        <!--Event Post-->
        <div class="card m-auto">
            <img class="card-img-top" src="{{event_post.image.url}}" alt="{{event_post.image.url}}">
            <div class="card-body my-2">
                <h2 class="card-title">{{event_post.title}}</h2>
                {% if event_post.author == request.user %}
                <a href="{% url 'event:edit' event_post.slug %}" class="btn btn-primary">Edit</a>
                <a class="btn btn-danger btn-md mt-1 mb-1" href="{% url 'event:delete' event_post.id %}">Delete</a>
                {% endif %}
                <hr>
                <div class="pts">
                    <p><span>Event Date</span> : {{event_post.event_date}}</p>
                    <p><span>Last Date of Registration</span> : {{event_post.reg_to}}</p>
                    {% if event_post.fee == 0  %}
                    <p><span>Fee</span> : Free</p>
                    {% else %}
                    <p><span>Fee</span> : {{event_post.fee}}</p>
                    {% endif %}
                    <p><span>Registration link</span> :<a href="{{event_post.reg_link}}" target="_blank">
                            {{event_post.reg_link}}</a></p>
                </div><br>
                <pre class="card-text-bold">{{event_post.body|safe}}</pre>
            </div>
            <div class="card-footer text-muted">
                <b>{{event_post.category}}</b> | Updated on {{event_post.date_updated}}
                by
                <a href="{% url 'event:author-view' event_post.author.id %}">
                    {{event_post.author.username}}</a>
            </div>
        </div>
        <!--End Event Post-->
        {% if blog_posts %}
        <div class="container">
            <legend class="mx-auto text">Recent Updates in Blog</legend>
            {% if blog_posts %}
            {% for post in blog_posts %}
            {% if post.related_event.title == event_post.title %}
            <div class="blog-post-container mt-2">
                {% include 'blog/snippets/altpost_snippet.html' with blog_post=post %}
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="blog-post-container">
                {% include 'blog/snippets/altpost_snippet.html' with query=query %}
            </div>
            {% endif %}
            {% include 'blog/snippets/blog_post_pagination.html' with blog_posts=blog_posts %}
        </div>
        {% else %}
        <p class="mx-auto">We'll let you know if there are any anouncements</p>
        {% endif %}
    </div>
</div>
{% endblock content %}