{% extends 'base.html' %}
{% load static %}

{% block title %}Your Account{% endblock title %}

{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="username"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .h3 {
    text-align: center;
  }

  .blog-posts {
    max-width: 500px;
    width: 100%;
    margin: auto;
  }

  .content-section {
    background: #ffffff;
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-left: 80px;
    margin-bottom: 20px;
  }

  .account-heading {
    font-size: 2.5rem;
  }

  .right-column {
    padding: 10px;
    margin-top: 20px;
    margin-left: 1000px;
  }
</style>


<div class="content-section">
  <div class="media">
    {% if user.profile.profile_pic %}
    <img class="rounded-circle account-img" height="175" width="175" src="{{ user.profile.profile_pic.url }}">
    {% else %}
    <img class="rounded-circle account-img" height="175" width="175" src="{% static 'default_pic.png' %}">
    {% endif %}
    <div class=" media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Account Info</legend>
      <div class="form-group">
        {{p_form.as_p}}
        {{ form.as_p}}
      </div>
    </fieldset>

    {% include 'event/snippets/form_errors_snippet.html' %}

    <div class="row">
      <button type="submit" class="mx-3 btn btn-primary">Save Changes</button>
      <div class="mx-4 d-flex flex-column">
        <a class="m-auto" href="{% url 'password_change' %}">Change Password</a>
      </div>
    </div>
  </form>
</div>

<div class="container mx-0 mt-4 p-4">
  <div class="row">
    <div class="blog-posts">
      <h3 class="mx-auto mb-3 font-weight-normal">Events List</h3>
      {% if apply %}
      <p>You Have Non-Premium events apply for Premium <a href="{% url 'event:apply_premium' %}">Here!</a></p>
      {% endif %}
      {% if event_post %}
      <ul style="margin: 0; padding: 0;">
        {% for post in event_post %}
        <a href="{% url 'event:detail' post.slug %}" style="text-decoration: none;">
          <li class="list-group-item">{{post}}</li>
        </a>
        {% endfor %}
      </ul>
      {% else %}
      <p>You have no Event posts. Create one <a href="{% url 'event:create' %}">here!</a> </p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}